<form>
  <div class="mb-3">
    <label class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      name="email"
      placeholder="Enter Email"
      [(ngModel)]="registerUser.email"
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Enter Password" [(ngModel)]="registerUser.password" />
  </div>
  <div class="mb-3">
    <label class="form-label">First Name</label>
    <input
      type="text"
      class="form-control"
      name="firstName"
      placeholder="Enter First Name"
      [(ngModel)]="registerUser.firstName"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Last Name</label>
    <input
      type="text"
      class="form-control"
      name="lastName"
      placeholder="Enter Last Name"
      [(ngModel)]="registerUser.lastName"
    />
  </div>
  <button type="submit" class="btn btn-primary" (click)="register(registerUser)">Register</button>
</form>
